html, body {
  height: 100%;
}

.container-fluid {
  min-height: 100%;
  padding-top: 15px;
  background-color: #87b5b5;
}

.panel-success {
  font-family: "Russo One";
  margin-left: auto;
  margin-right: auto;
  border-color: #000000;
  border-radius: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .5);
}

.panel-success > .panel-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  border-color: #000000;
  background-color: #4aa3a3;
  border-radius: 0;
}

.panel-title {
  display: flex;
  align-items: center;
}

.panel-body {
  padding: 0;
}

#panel-editor {
  max-width: 593px;
}

#panel-editor .panel-heading {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .5);
}

#panel-preview {
  max-width: 800px;
}

#panel-preview .panel-heading {
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .5);
}

textarea {
  font-size: 14px;
  font-family: monospace;
  display: block;
  width: 100%;
  min-height:201px;
  border: 0;
  resize: vertical;
  color: #000000;
  background-color: #c0d8d8;
}

textarea:focus {
  outline: 0 !important;
}

#preview {
  font-family: sans-serif;
  padding: 20px;
  min-height:201px;
  color: #000000;
  background-color: #c0d8d8;
}

#preview h1,
#preview h2, 
#preview h3 {
  font-weight: 700;
}

.fa-free-code-camp {
  font-size: 18px;
  margin-right: 5px;
}

.fa-compress-arrows-alt,
.fa-arrows-alt {
  display: block;
  font-size: 20px;
  cursor: pointer;
  transform: rotate(45deg);
}

.fa-compress-arrows-alt {
  font-size: 17px;
  transform: rotate(0);
}

.fa-compress-arrows-alt:hover,
.fa-arrows-alt:hover {
  color: #57e2b1;
}

h1, h2, h3 {
  width: 100%;
  margin: 0 0 20px;
  color: #212529;
  border-bottom: 1px solid #212529;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  margin: 0 0 15px;
}

h3 {
  font-size: 18px;
  margin: 0 0 18px;
  border-bottom: 0;
}

p {
  font-weight: 400;
}

table {
  margin-bottom: 15px;
  border: 2px solid black;
}

th, td {
  padding: 3px;
  border: 2px solid black;
}

img {
  width: 100%;
  padding: 15px;
}